manifest {
    name            = 'biomarker-concordance-pipeline'
    author          = 'gbadedata'
    description     = 'Germline variant calling with biomarker reproducibility analysis'
    version         = '1.0.0'
    nextflowVersion = '>=23.10.0'
}

params {
    input             = null
    outdir            = './results'
    fasta             = null
    fasta_fai         = null
    bwa_index         = null
    dbsnp             = null
    dbsnp_tbi         = null
    known_indels      = null
    known_indels_tbi  = null
    giab_truth_vcf    = null
    giab_truth_tbi    = null
    giab_truth_bed    = null
    skip_fastqc       = false
    skip_trimming     = false
    skip_vep          = false
    skip_concordance  = false
    intervals         = null
    vep_cache         = null
    vep_genome        = 'GRCh38'
    vep_species       = 'homo_sapiens'
    vep_cache_version = 110
    max_memory        = '128.GB'
    max_cpus          = 16
    max_time          = '240.h'
}

process {
    cpus   = 1
    memory = '6.GB'
    time   = '4.h'

    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 2

    withLabel: process_low {
        cpus   = 2
        memory = '12.GB'
        time   = '4.h'
    }
    withLabel: process_medium {
        cpus   = 6
        memory = '36.GB'
        time   = '8.h'
    }
    withLabel: process_high {
        cpus   = 12
        memory = '72.GB'
        time   = '16.h'
    }
}

profiles {

    local {
        docker {
            enabled    = true
            runOptions = '--platform linux/amd64'
        }
        process.executor = 'local'
    }

    test {
        docker {
            enabled    = true
            runOptions = '--platform linux/amd64'
        }
        process {
            executor = 'local'
            cpus     = 4
            memory   = '8.GB'
            time     = '2.h'
        }
        params {
            input            = "${projectDir}/assets/samplesheet_test.csv"
            outdir           = './results_test'
            fasta            = 'https://raw.githubusercontent.com/nf-core/test-datasets/sarek/reference/chr20.fa'
            fasta_fai        = 'https://raw.githubusercontent.com/nf-core/test-datasets/sarek/reference/chr20.fa.fai'
            bwa_index        = null
            giab_truth_vcf   = 'https://raw.githubusercontent.com/nf-core/test-datasets/sarek/testdata/HG001_chr20_v4.2.1_benchmark.vcf.gz'
            giab_truth_tbi   = 'https://raw.githubusercontent.com/nf-core/test-datasets/sarek/testdata/HG001_chr20_v4.2.1_benchmark.vcf.gz.tbi'
            giab_truth_bed   = 'https://raw.githubusercontent.com/nf-core/test-datasets/sarek/testdata/HG001_chr20_v4.2.1_benchmark.bed'
            dbsnp            = 'https://raw.githubusercontent.com/nf-core/test-datasets/sarek/reference/dbsnp_146.hg38.chr20.vcf.gz'
            dbsnp_tbi        = 'https://raw.githubusercontent.com/nf-core/test-datasets/sarek/reference/dbsnp_146.hg38.chr20.vcf.gz.tbi'
            known_indels     = 'https://raw.githubusercontent.com/nf-core/test-datasets/sarek/reference/mills_1000g.chr20.vcf.gz'
            known_indels_tbi = 'https://raw.githubusercontent.com/nf-core/test-datasets/sarek/reference/mills_1000g.chr20.vcf.gz.tbi'
            skip_vep         = true
            max_memory       = '12.GB'
            max_cpus         = 4
            max_time         = '2.h'
        }
    }

    aws {
        process {
            executor         = 'awsbatch'
            queue            = "${System.getenv('AWS_BATCH_QUEUE') ?: 'bcp-queue'}"
            containerOptions = '--platform linux/amd64'
        }
        aws {
            region = "${System.getenv('AWS_REGION') ?: 'eu-west-2'}"
            batch {
                cliPath = '/usr/local/bin/aws'
                volumes = '/tmp'
                jobRole = "${System.getenv('AWS_BATCH_JOB_ROLE') ?: ''}"
            }
        }
        workDir        = "s3://${System.getenv('S3_WORK_BUCKET') ?: 'bcp-work'}/work"
        docker.enabled = true
    }
}

timeline { enabled = true; file = "${params.outdir}/pipeline_info/timeline.html"; overwrite = true }
report   { enabled = true; file = "${params.outdir}/pipeline_info/report.html";   overwrite = true }
trace    { enabled = true; file = "${params.outdir}/pipeline_info/trace.txt";      overwrite = true }
dag      { enabled = true; file = "${params.outdir}/pipeline_info/dag.svg";        overwrite = true }
